.venv/
wandb/
beats/pt_dict/
mamba/
dismix/__pycache__/
dismix/wandb/
dismix/best_model.pth
dismix/train_file_list.pkl
dismix/valid_file_list.pkl
dismix/test_file_list.pkl
dismix/Dismix_jsb_multi/
dismix/lightning_logs/

contras/lightning_logs/
contras/wandb/
contras/model_dict/
simclr_encoder/model_dict/
lightning_logs/
checkpoints/
__pycache__/
*.pyc
*.DS_Store

pitch_store.pkl
stem_store.pkl
timbre_store.pkl

dddm/logs/
dddm/__pycache__/
dddm/info/
dddm/checkpoints/
dddm/examples/
dddm/pretrained_models/
DDDM_VC/

simsiam/model_dict/
simsiam/preprocess/amt/
Dockerfile

edm_fac/ref.py
edm_fac/ref_model.py
